@tailwind base;
@tailwind components;
@tailwind utilities;

.menu-toggle.off {
  display: none;
}

.menu-toggle.on {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  @apply bg-white dark:bg-[#09090A];
}

.on {
  display: initial;
}

.off {
  display: none;
}

@media (min-width: 1024px) {
  .menu-toggle.on {
    display: none;
  }
}
